web_admin/BloomingLabs.db
web_admin/rfid.log
open_access_scripts/other_install_notes.txt
open_access_scripts/mad.log
open_access_scripts/rfid.log
open_access_scripts/access_log.txt
git-remove-history
rfid_network_server/.DS_Store
rfid_network_server/rfid_proxy.py
rfid_network_server/rfidtwisted.log
rfid_network_server/twistd.log
rfid_network_server/twistd.pid
rfid_network_server/twistd_example.tac
*.pyc
.DS_Store
*.log
*.log*
rfid_network_server/savedjunk
*candy*
*.out
*.out*
readandsay.py
rfid_network_server/good_sample_twisted_db_code.py
web_admin/doorman/admin.pyc
web_admin/doorman/models.pyc
rfid_network_server/rfidsamplestrings.txt
web_admin/BloomingLabs.db.postlita
web_admin/RFIDEEPROMMAP.txt
web_admin/preUniqueData.json
rfid_network_server/testdb
web_admin/doorman/admin.pyc
web_admin/doorman/models.pyc
web_admin/static/*
