<html>
<HTML>
<HEAD>
<meta name='apple-mobile-web-app-capable' content='yes' />
<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
<link rel='stylesheet' type='text/css' href='/wsgi-scripts/home_auto.css' />
<title>Set the Thermostat</title>
</HEAD>
<body>

<br />
<h1>Humidity: {{humidity}} %	Temperature: {{temp}} F
</h1>
<h1>The Heat is:
{{thermostat}}</h1>
<a href="/wsgi-scripts/thermo/ON"">Turn On Heat</a>
<a href="/wsgi-scripts/thermo/OFF"">Turn Off Heat</a><br />
    </body>
</html>
